{% extends 'main/base.html' %}
{% block content %}
<div class="container-fluid row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse row" style="padding: 18px 10px 0px 0px; font-size: 18px">
            <div class="nav navbar-nav col-md-12 text-center main-title">
                <a id="lnk_titulo" class="edit" href="/">¡HOLA!</a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}